// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    color: #333;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
}
.kiwi-slider {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    .kiwi-inner {
        max-width: 724px;
        max-height: 170px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    .kiwi-item {
        float: left;
        text-align: center;
        width: 724px;
        transition: transform .4s ease;

        img{
            max-width: 200px;
            margin: auto;
        }
        a {
            color: #333;
            text-decoration: none;
        }

        ul {
            list-style: none;
            display: inline-block;
            padding-left: 0;

            li {
                float: left;
                margin: 0 10px;
                height: 135px;
                opacity: 1;

                &.is-before {
                    opacity: 0;
                    transform: translateX(-100px);
                    transition: none;
                }
                &.is-transition {
                    transition: transform .5s,opacity .4s;
                }
                &.is-after {
                    opacity: 0;
                    transform: translateX(100px);
                    transition: none;
                }
                &.is-before-v {
                    opacity: 0;
                    transform: translateY(-100px);
                    transition: none;
                }
                &.is-after-v {
                    opacity: 0;
                    transform: translateY(100px);
                    transition: none;
                }

                span {
                    display: block;
                    font-size: 12px;
                    color: #666;
                    padding-top: 15px;
                }
            }
        }

        &:after {
            display: table;
            content: ' ';
            clear:both;
        }
    }
    .kiwi-items {
        width: 724px;

        &:after {
            display: table;
            content: ' ';
            clear:both;
        }
    }
    .kiwi-indicators {
        border-top: 1px solid #D6D6D6;
        max-width: 980px;
        margin: auto;
        text-align: center;
    }
    .kiwi-control {
        display: inline-block;
        position: relative;

        a {
            color: #333;
            padding-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            display: block;
            float: left;
            font-size: 13px;
            color: #999;
            text-decoration: none;

            &.active {
                color: #333;
            }
        }
    }
    .navcaret {
        display: none;
        width: 100px;
        position: absolute;
        border-top: 1px solid #333;
        top: -1px;
        z-index: 1;
        transform-origin: 0 0;     
        transition: all .3s ease-out;   

        &.is-ready {
            display: block;
        }
    }
}
html.touch {
    @media only screen and (max-width: 767px) {
        .kiwi-slider {
            height: 135px;
            max-width: 100%;

            .kiwi-inner {
                overflow: scroll;
                width: 100%;
            }
            .kiwi-items {
                width: auto;
                max-width: 100%;
                white-space: nowrap;

                .kiwi-item {
                    width: auto;
                    display: inline-block;
                    float: none;

                    ul {
                        white-space: nowrap;

                        li {
                            float: none;
                            display: inline-block;
                        }
                    }
                }
            }
        } 
        .kiwi-indicators {
            display: none;
        }
    }
}
figure {
    margin: 0 auto;
}

.ac-familybrowser-item.macbook .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_large.svg");
    background-size: 46px 54px;
    height: 54px;
    width: 46px
}

html.no-svg .ac-familybrowser-item.macbook .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_large.png");
    background-size: 46px 54px;
    height: 54px;
    width: 46px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.macbook .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_dark_large.svg");
    background-size: 46px 54px;
    height: 54px;
    width: 46px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.macbook .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_dark_large.png");
    background-size: 46px 54px;
    height: 54px;
    width: 46px
}

.ac-familybrowser-item.macbook-air {
    padding-left: 18px;
    padding-right: 18px
}

.ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_large.svg");
    background-size: 52px 54px;
    height: 54px;
    width: 52px
}

html.no-svg .ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_large.png");
    background-size: 52px 54px;
    height: 54px;
    width: 52px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_dark_large.svg");
    background-size: 52px 54px;
    height: 54px;
    width: 52px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_dark_large.png");
    background-size: 52px 54px;
    height: 54px;
    width: 52px
}

.ac-familybrowser-item.macbook-pro {
    padding-left: 18px;
    padding-right: 18px
}

.ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_large.svg");
    background-size: 58px 54px;
    height: 54px;
    width: 58px
}

html.no-svg .ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_large.png");
    background-size: 58px 54px;
    height: 54px;
    width: 58px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_dark_large.svg");
    background-size: 58px 54px;
    height: 54px;
    width: 58px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_dark_large.png");
    background-size: 58px 54px;
    height: 54px;
    width: 58px
}

.ac-familybrowser-item.imac {
    padding-left: 22px;
    padding-right: 22px
}

.ac-familybrowser-item.imac .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_large.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px
}

html.no-svg .ac-familybrowser-item.imac .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_large.png");
    background-size: 48px 54px;
    height: 54px;
    width: 48px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.imac .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_dark_large.svg");
    background-size: 48px 54px;
    height: 54px;
    width: 48px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.imac .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_dark_large.png");
    background-size: 48px 54px;
    height: 54px;
    width: 48px
}

.ac-familybrowser-item.mac-pro {
    padding-left: 18px;
    padding-right: 18px
}

.ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_large.svg");
    background-size: 21px 54px;
    height: 54px;
    width: 21px
}

html.no-svg .ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_large.png");
    background-size: 21px 54px;
    height: 54px;
    width: 21px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_dark_large.svg");
    background-size: 21px 54px;
    height: 54px;
    width: 21px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_dark_large.png");
    background-size: 21px 54px;
    height: 54px;
    width: 21px
}

.ac-familybrowser-item.mac-mini {
    padding-left: 16px;
    padding-right: 16px
}

.ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_large.svg");
    background-size: 28px 54px;
    height: 54px;
    width: 28px
}

html.no-svg .ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_large.png");
    background-size: 28px 54px;
    height: 54px;
    width: 28px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_dark_large.svg");
    background-size: 28px 54px;
    height: 54px;
    width: 28px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_dark_large.png");
    background-size: 28px 54px;
    height: 54px;
    width: 28px
}

.ac-familybrowser-item.accessories .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_large.svg");
    background-size: 28px 54px;
    height: 54px;
    width: 28px
}

html.no-svg .ac-familybrowser-item.accessories .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_large.png");
    background-size: 29px 54px;
    height: 54px;
    width: 29px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.accessories .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_dark_large.svg");
    background-size: 29px 54px;
    height: 54px;
    width: 29px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.accessories .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_dark_large.png");
    background-size: 29px 54px;
    height: 54px;
    width: 29px
}

.ac-familybrowser-item.osx {
    padding-left: 8px;
    padding-right: 8px
}

.ac-familybrowser-item.osx .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_large.svg");
    background-size: 30px 54px;
    height: 54px;
    width: 30px
}

html.no-svg .ac-familybrowser-item.osx .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_large.png");
    background-size: 30px 54px;
    height: 54px;
    width: 30px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.osx .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_dark_large.svg");
    background-size: 30px 54px;
    height: 54px;
    width: 30px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.osx .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_dark_large.png");
    background-size: 30px 54px;
    height: 54px;
    width: 30px
}

.ac-familybrowser-item.compare {
    padding-left: 18px;
    padding-right: 18px
}

.ac-familybrowser-item.compare .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_large.svg");
    background-size: 70px 54px;
    height: 54px;
    width: 70px
}

html.no-svg .ac-familybrowser-item.compare .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_large.png");
    background-size: 70px 54px;
    height: 54px;
    width: 70px
}

.ac-familybrowser-theme-dark .ac-familybrowser-item.compare .ac-familybrowser-icon {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_dark_large.svg");
    background-size: 70px 54px;
    height: 54px;
    width: 70px
}

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.compare .ac-familybrowser-icon {
    background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_dark_large.png");
    background-size: 70px 54px;
    height: 54px;
    width: 70px
}