// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    color: #333;
    -webkit-font-smoothing: antialiased;
}
.kiwi-slider {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    .kiwi-inner {
        max-width: 724px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    .kiwi-item {
        float: left;
        text-align: center;
        width: 724px;
        transition: transform .4s ease;

        img{
            max-width: 200px;
            margin: auto;
        }
        a {
            color: #333;
            text-decoration: none;
        }

        ul {
            list-style: none;
            display: inline-block;
            padding-left: 0;

            li {
                float: left;
                margin: 0 23px;
                height: 135px;
                opacity: 1;

                &.is-before {
                    opacity: 0;
                    transform: translateX(-100px);
                    transition: none;
                }
                &.is-transition {
                    transition: transform .5s,opacity .4s;
                }
                &.is-after {
                    opacity: 0;
                    transform: translateX(100px);
                    transition: none;
                }

                span {
                    display: block;
                    font-size: 12px;
                    color: #666;
                    padding-top: 15px;
                }
            }
        }

        &:after {
            display: table;
            content: ' ';
            clear:both;
        }
    }
    .kiwi-items {
        width: 724px;

        &:after {
            display: table;
            content: ' ';
            clear:both;
        }
    }
    .kiwi-indicators {
        border-top: 1px solid #D6D6D6;
        max-width: 980px;
        margin: auto;
        text-align: center;
    }
    .kiwi-control {
        display: inline-block;
        position: relative;

        a {
            color: #333;
            padding-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            display: block;
            float: left;
            font-size: 13px;
            color: #999;
            text-decoration: none;

            &.active {
                color: #333;
            }
        }
    }
    .navcaret {
        display: none;
        width: 100px;
        position: absolute;
        border-top: 1px solid #333;
        top: -1px;
        z-index: 1;
        transform-origin: 0 0;     
        transition: all .3s ease-out;   

        &.is-ready {
            display: block;
        }
    }
}