/* line 4, ../../app/styles/main.scss */

body {
  background: #fafafa;
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  color: #333;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/* line 12, ../../app/styles/main.scss */

.kiwi-slider {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
#kiwi-slider2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 17, ../../app/styles/main.scss */

.kiwi-slider .kiwi-inner {
  max-width: 724px;
  max-height: 170px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 25, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item {
  float: left;
  text-align: center;
  width: 724px;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}

/* line 31, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item img {
  max-width: 200px;
  margin: auto;
}

/* line 35, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item a {
  color: #333;
  text-decoration: none;
}

/* line 40, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 30px;
}

/* line 45, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li {
  float: left;
  margin: 0 10px;
  height: 135px;
  opacity: 1;
}

/* line 51, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li.is-before {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  transition: none;
}

/* line 56, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li.is-transition {
  transition: -webkit-transform .5s,opacity .4s;
  transition: transform .5s,opacity .4s;
}

/* line 59, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li.is-after {
  opacity: 0;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  transition: none;
}

/* line 64, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li.is-before-v {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: none;
}

/* line 69, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li.is-after-v {
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  transition: none;
}

/* line 75, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item ul li span {
  display: block;
  font-size: 12px;
  color: #666;
  padding-top: 15px;
}

/* line 84, ../../app/styles/main.scss */

.kiwi-slider .kiwi-item:after {
  display: table;
  content: ' ';
  clear: both;
}

/* line 90, ../../app/styles/main.scss */

.kiwi-slider .kiwi-items {
  width: 724px;
}

/* line 93, ../../app/styles/main.scss */

.kiwi-slider .kiwi-items:after {
  display: table;
  content: ' ';
  clear: both;
}

/* line 99, ../../app/styles/main.scss */

.kiwi-slider .kiwi-indicators {
  border-top: 1px solid #D6D6D6;
  max-width: 980px;
  margin: auto;
  text-align: center;
}

/* line 105, ../../app/styles/main.scss */

.kiwi-slider .kiwi-control {
  display: inline-block;
  position: relative;
}

/* line 109, ../../app/styles/main.scss */

.kiwi-slider .kiwi-control a {
  color: #333;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  float: left;
  font-size: 13px;
  color: #999;
  text-decoration: none;
}

/* line 120, ../../app/styles/main.scss */

.kiwi-slider .kiwi-control a.active {
  color: #333;
}

/* line 125, ../../app/styles/main.scss */

.kiwi-slider .navcaret {
  display: none;
  width: 100px;
  position: absolute;
  border-top: 1px solid #333;
  top: -1px;
  z-index: 1;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: all .3s ease-out;
}

/* line 135, ../../app/styles/main.scss */

.kiwi-slider .navcaret.is-ready {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 142, ../../app/styles/main.scss */

  html.touch .kiwi-slider {
    height: 135px;
    max-width: 100%;
  }

  /* line 146, ../../app/styles/main.scss */

  html.touch .kiwi-slider .kiwi-inner {
    overflow: scroll;
    width: 100%;
  }

  /* line 150, ../../app/styles/main.scss */

  html.touch .kiwi-slider .kiwi-items {
    width: auto;
    max-width: 100%;
    white-space: nowrap;
  }

  /* line 155, ../../app/styles/main.scss */

  html.touch .kiwi-slider .kiwi-items .kiwi-item {
    width: auto;
    display: inline-block;
    float: none;
  }

  /* line 160, ../../app/styles/main.scss */

  html.touch .kiwi-slider .kiwi-items .kiwi-item ul {
    white-space: nowrap;
  }

  /* line 163, ../../app/styles/main.scss */

  html.touch .kiwi-slider .kiwi-items .kiwi-item ul li {
    float: none;
    display: inline-block;
  }

  /* line 171, ../../app/styles/main.scss */

  html.touch .kiwi-indicators {
    display: none;
  }
}

/* line 176, ../../app/styles/main.scss */

figure {
  margin: 0 auto;
}

/* line 180, ../../app/styles/main.scss */

.ac-familybrowser-item.macbook .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_large.svg");
  background-size: 46px 54px;
  height: 54px;
  width: 46px;
}

/* line 188, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.macbook .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_large.png");
  background-size: 46px 54px;
  height: 54px;
  width: 46px;
}

/* line 195, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.macbook .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_dark_large.svg");
  background-size: 46px 54px;
  height: 54px;
  width: 46px;
}

/* line 203, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.macbook .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbook_dark_large.png");
  background-size: 46px 54px;
  height: 54px;
  width: 46px;
}

/* line 210, ../../app/styles/main.scss */

.ac-familybrowser-item.macbook-air {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 215, ../../app/styles/main.scss */

.ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_large.svg");
  background-size: 52px 54px;
  height: 54px;
  width: 52px;
}

/* line 223, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_large.png");
  background-size: 52px 54px;
  height: 54px;
  width: 52px;
}

/* line 230, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_dark_large.svg");
  background-size: 52px 54px;
  height: 54px;
  width: 52px;
}

/* line 238, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-air .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookair_dark_large.png");
  background-size: 52px 54px;
  height: 54px;
  width: 52px;
}

/* line 245, ../../app/styles/main.scss */

.ac-familybrowser-item.macbook-pro {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 250, ../../app/styles/main.scss */

.ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_large.svg");
  background-size: 58px 54px;
  height: 54px;
  width: 58px;
}

/* line 258, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_large.png");
  background-size: 58px 54px;
  height: 54px;
  width: 58px;
}

/* line 265, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_dark_large.svg");
  background-size: 58px 54px;
  height: 54px;
  width: 58px;
}

/* line 273, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.macbook-pro .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macbookpro_dark_large.png");
  background-size: 58px 54px;
  height: 54px;
  width: 58px;
}

/* line 280, ../../app/styles/main.scss */

.ac-familybrowser-item.imac {
  padding-left: 22px;
  padding-right: 22px;
}

/* line 285, ../../app/styles/main.scss */

.ac-familybrowser-item.imac .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_large.svg");
  background-size: 48px 54px;
  height: 54px;
  width: 48px;
}

/* line 293, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.imac .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_large.png");
  background-size: 48px 54px;
  height: 54px;
  width: 48px;
}

/* line 300, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.imac .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_dark_large.svg");
  background-size: 48px 54px;
  height: 54px;
  width: 48px;
}

/* line 308, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.imac .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/imac_dark_large.png");
  background-size: 48px 54px;
  height: 54px;
  width: 48px;
}

/* line 315, ../../app/styles/main.scss */

.ac-familybrowser-item.mac-pro {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 320, ../../app/styles/main.scss */

.ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_large.svg");
  background-size: 21px 54px;
  height: 54px;
  width: 21px;
}

/* line 328, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_large.png");
  background-size: 21px 54px;
  height: 54px;
  width: 21px;
}

/* line 335, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_dark_large.svg");
  background-size: 21px 54px;
  height: 54px;
  width: 21px;
}

/* line 343, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.mac-pro .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macpro_dark_large.png");
  background-size: 21px 54px;
  height: 54px;
  width: 21px;
}

/* line 350, ../../app/styles/main.scss */

.ac-familybrowser-item.mac-mini {
  padding-left: 16px;
  padding-right: 16px;
}

/* line 355, ../../app/styles/main.scss */

.ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_large.svg");
  background-size: 28px 54px;
  height: 54px;
  width: 28px;
}

/* line 363, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_large.png");
  background-size: 28px 54px;
  height: 54px;
  width: 28px;
}

/* line 370, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_dark_large.svg");
  background-size: 28px 54px;
  height: 54px;
  width: 28px;
}

/* line 378, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.mac-mini .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/macmini_dark_large.png");
  background-size: 28px 54px;
  height: 54px;
  width: 28px;
}

/* line 385, ../../app/styles/main.scss */

.ac-familybrowser-item.accessories .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_large.svg");
  background-size: 28px 54px;
  height: 54px;
  width: 28px;
}

/* line 393, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.accessories .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_large.png");
  background-size: 29px 54px;
  height: 54px;
  width: 29px;
}

/* line 400, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.accessories .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_dark_large.svg");
  background-size: 29px 54px;
  height: 54px;
  width: 29px;
}

/* line 408, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.accessories .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_acc_dark_large.png");
  background-size: 29px 54px;
  height: 54px;
  width: 29px;
}

/* line 415, ../../app/styles/main.scss */

.ac-familybrowser-item.osx {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 420, ../../app/styles/main.scss */

.ac-familybrowser-item.osx .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_large.svg");
  background-size: 30px 54px;
  height: 54px;
  width: 30px;
}

/* line 428, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.osx .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_large.png");
  background-size: 30px 54px;
  height: 54px;
  width: 30px;
}

/* line 435, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.osx .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_dark_large.svg");
  background-size: 30px 54px;
  height: 54px;
  width: 30px;
}

/* line 443, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.osx .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_osx_dark_large.png");
  background-size: 30px 54px;
  height: 54px;
  width: 30px;
}

/* line 450, ../../app/styles/main.scss */

.ac-familybrowser-item.compare {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 455, ../../app/styles/main.scss */

.ac-familybrowser-item.compare .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_large.svg");
  background-size: 70px 54px;
  height: 54px;
  width: 70px;
}

/* line 463, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-item.compare .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_large.png");
  background-size: 70px 54px;
  height: 54px;
  width: 70px;
}

/* line 470, ../../app/styles/main.scss */

.ac-familybrowser-theme-dark .ac-familybrowser-item.compare .ac-familybrowser-icon {
  background-repeat: no-repeat;
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_dark_large.svg");
  background-size: 70px 54px;
  height: 54px;
  width: 70px;
}

/* line 478, ../../app/styles/main.scss */

html.no-svg .ac-familybrowser-theme-dark .ac-familybrowser-item.compare .ac-familybrowser-icon {
  background-image: url("http://images.apple.com/v/mac/home/s/home/images/familybrowser/mac_comp_dark_large.png");
  background-size: 70px 54px;
  height: 54px;
  width: 70px;
}